*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
    background-color:  #2E3A46;
    display: flex;
    justify-content: start;
    align-items: center;
}

main{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #1E2D3B;
    display: flex;
    justify-content: center;
}

.card{
    width: calc(100% / 5 - 30px );
    height: 450px;
    background-color: #2E3A46;
}

.box_image{
    width: 100%;
    height: 70%;
}
img{
    width: 100%;
    height: 100%;
    padding: 30px;
  }

.box_text{
width: 100%;
height: 50%;
text-align: center; 

}

h3{
margin: 10px 0;
color: white;
font-size: 24px;
font-weight: 700  
}

span{
color: dimgray;
font-size: 24px;
    
}

